.container
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100vh;
}

.main-image {
    max-width: 100%;
    max-height: 100vh;
    margin-top: 0.5%;
}

.fixedPosition {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

.major-button {
    display: block;
    font-size: 1.25rem;
    width: 0%;
    left: 38.5%;
    padding-bottom: 20px;
}

.smaller-container {
    margin-top: -6%;
    margin-bottom: -6%;
}

.align-left-text {
    text-wrap: wrap;
    word-wrap: break-word;
    margin-left: 20%;
    margin-right: 20%;
}